<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Blog сайта</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Добавление</h1>
    <form action="/create" method="post">
        <input type="text" name="name" placeholder="Введите название" class="form-control"><br>
        <input type="text" name="description" placeholder="Введите описание" class="form-control"><br>
        <input type="text" name="tag" placeholder="Введите тэги" class="form-control"><br>
        <textarea name="content" placeholder="Введите текст статьи" class="form-control"></textarea><br>
        <button type="submit" class="btn-success">Добавить статью</button><br>
    </form>
</div>

</body>
</html>